* {
  font-family: "Share Tech Mono", monospace;
}

body {
  background-color: #eee1c6;
}

#board,
.boardInfo {
  max-width: 500px;
  margin: 0 auto;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#start,
.boardInfo {
  font-size: 25px;
  cursor: pointer;
}

#gameOver {
  display: none;
  max-width: 500px;
  margin: 0 auto;
}

.boardInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#start {
  background-color: #f35a69;
  border: none;
  color: white;
}

#scoreBoard {
  display: inline-flex;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: #6d71b5;
}

.snakeSquare {
  background-color: #e3e773;
  border: 1px solid #000;
}

.foodSquare {
  background-color: #55e7e7;
  border: 1px solid #000;
}

/* btns mobile */

#controls {
  display: none;
}

@media (max-aspect-ratio: 10/9) {
  #controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .horizontal-buttons {
    display: flex;
    gap: 10px;
  }

  .btn-control__start,
  .btn-control {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .btn-control {
    font-size: 20px;
  }
}

/* utility */
.text-center {
  text-align: center;
}
